html, body{
    height: 100%;
    margin: 0;
    /* background-color: #000; */
  }
.bg-pre-login{
  grid-row: 1;
  grid-column: 1 / -1;
  height: 100vh;
}

.logo{
    /* background-image: url('./images/logotipo-02.png') ; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* position: relative; */
    background-repeat: no-repeat;
    flex:2;
    display:flex;
}

.contenedor {
  display: grid;
  height: 100vh;
}

.content-options{
  margin: 1rem 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.contenedor-pre-login {
  background-color: rgb(1, 1, 68);
  display: grid;
  grid-row: 1;
  grid-column: 1 / -1;
  z-index: 1;
  width: 33%;
  align-content: center;
}

.p-white {
  color: white;
}

.inputs-login{
  flex-direction: column;
  flex: 1;
}

.img-fondo{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.img-logo{
  width: 70%;
  justify-self: center;
}

@media screen and (max-width: 1400px) {
  .contenedor-pre-login {
    width: 40%;
  }
}


@media screen and (max-width: 850px) {
  .contenedor-pre-login {
    width: 100%;
  }
}